input{
    outline: none;
    padding: 18px;
    font-size: 15px;
    border: 2px solid #111; 
}

input:invalid{
    border: 2px solid #e70707;
    animation: invalid 0.3s 2;
}

@keyframes invalid {
    25%{
        translate: 6px 0;
    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
}